<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SAROnline ForgetPassword Email</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'></link>

 
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
        li a[href]{
        text-decoration:none;
        }
        
    </style>
</head>
<body style="margin: 0; padding: 0;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#5F9EA0" style="padding: 0 0 0 0;">
                <img src="https://mybucket786786.s3.ap-south-1.amazonaws.com/Images/profile/a12%40gmail.com/Public/2019/July/18/logo.PNG" alt="EIEAS" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td bgcolor="white" style="padding: 40px 30px 40px 30px;">
                <p>Hello <b><span th:text = "${userName}"/></b>,</p>
                <p>You have requested a Password Reset for your<b> SAR Account</b>.</p>
                <p>You can reset your account password by clicking the link below:</p>      
                 <a th:href =  "${forgetPasswordUrl}">Click here to reset your password</a>
                <br></br>
                <br></br>
                <p>Thank you!</p>
                <p>Cheers,</p>
                <p><b>SAR Support Team</b></p>
            </td>
            
        </tr>

<tr>       
    <td  bgcolor="#5F9EA0" style="padding: 15px 30px 0 30px;">
  
            
                <p><i><b></b>This is an auto-triggered mail. Please do not reply.<b></b></i></p>
            </td> 
     </tr>    
</table>
</body>
</html>